<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manu</title>
    <link rel="stylesheet" href="style_menu.css">
</head>
<body>
    <form method="POST" class="players-container">
        <button type="submit" value="1" name="legka" id="legka">стрільба лежачи</button>
    </form>
    <form method="POST" class="players-container">
        <button type="submit" value="2" name="stiyka" id="stiyka">стрільба стоячи</button>
    </form>
    <form method="POST" class="players-container">
        <button type="submit" value="3" name="hod" id="hod">хід</button>
    </form>
    <!-- <form action="/next-page" method="get">
        <button type="submit" value="1">стрільба лежачи</button>
        <button type="submit" value="2">стрільба стоячи</button>
        <button type="submit" value="3">хід</button>
    </form>
</body> -->
</html>